html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #cbcbcb;
}

.interface {
  width: 40%;
  margin: 30px auto;
  padding: 30px 30px 10px 30px;
  border-radius: 6px;
  background-color: #fefefe;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

.input-textbox {
  width: 75%;
  height: 25px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.add {
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 6px;
  color: #fefefe;
  background-color: #fc999c;
  font-size: 0.8rem;
}

.task-list {
  margin: 40px 0 50px 0;
  padding-left: 25px;
  font-size: 0.8rem;
}

.task-list input {
  vertical-align: -25%;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 5px;
  margin-right: 8px;
}

.task-list li {
  position: relative;
  padding: 5px 0 5px 0;
}

/* .task-list li:hover + .delete-icon {
.task-list li:hover {
  /* display: inline-block; */

/* border: 1px solid blue; */

/* } */

.task-list li:nth-child(2n) {
  background-color: #f3ebeb;
}

.filter div {
  display: block;
  cursor: pointer;
  padding: 2px 5px;
  border: none;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 0.8rem;
  background-color: transparent;
  color: #fc999c;
}

.filter div:hover {
  border-color: #cccccc;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 10px auto;
}

button {
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  writing-mode: vertical-lr;
  text-align: center;
  font-size: 1rem;
  color: gray;
}

.delete-icon:hover {
  cursor: pointer;
  color: black;
}